body {
    font-family: arial;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    width: 90%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 0%;
    padding: 2.5%;
    display: inline-block;
    text-align: center;
    font-size: 10vw;
}

h1:hover, h1:active {
    background-color: #FFFFFF;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-left: 5%;
}
