body {
    font-family: monospace;
    background-color: #000000;
    color: #FFFFFF;
}

p, li {
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0%;
    padding: 0.5%;
    display: inline-block;
    font-size: 2em;
}

li.link:hover, li.link:active {
    background-color: #FFFFFF;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

p, li {
    margin-left: 0.5%;
}
