body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
header {
  background: $header;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
footer {
  text-align: center;
  padding: 40px;
}