body {
    max-width: 800px;
    margin: auto;
}
header {
    border-bottom: 5px solid black;
    padding: 15px 0px;
}
a, a:visited, a.current, a.current:visited {
    text-decoration: none;
    padding: 5px;
}
a, a:visited {
    color: black;
}
a.current, a.current:visited {
    background-color: black;
    color: white;
}
h1, p {
    margin: 10px 0px;
}

#name {
    text-align: center;
}