html {
    font-size: 100%
}
body {
    max-width: 800px;
    margin: auto;
    padding: 0px 10px;
    font-family: 'Source Serif Pro', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header {
    border-bottom: 5px solid black;
    padding: 15px 0px;
}
a {
    font-size: 1rem;
}
a.nav, a.nav:visited, a.current, a.current:visited {
    text-decoration: none;
    padding: 5px;
}
a.nav, a.nav:visited {
    color: black;
}
a.current, a.current:visited {
    background-color: black;
    color: white;
}
h1, p {
    margin: 10px 0px;
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
#name {
    text-align: center;
}
#images {
    text-align: center;
}
img {
    height: 25px;
    margin: 0 5px;
}
